.lead__image-wrapper {
    width: 100%;
    margin: 0;
}
/* 
@media screen and (max-width: 768px) {
    .lead__image-wrapper {
        width: 768px;
    }
} 

@media screen and (max-width: 320px) {
    .lead__image-wrapper {
        width: 320px;
    }
} 
 */
